
@{
    ViewBag.Title = "Ajax_Show";
}

<h2>Ajax_Show</h2>
<p>showing a teacher through an ajax request</p>

<div>
    <label>
        Please input an id.
    </label>
    <input id="TeacherId" />
    <button onclick="AjaxShowTeacher();">Show Teacher</button>

</div>
<div id="TeacherName"></div>
<div id="EmployeeNumber"></div>
<div id="TeacherHireDate"></div>
<div id="TeacherSalary"></div>


<script src="~/Scripts/teacher_show.js">

</script>


