
@{
    ViewBag.Title = "Ajax_New";
}



<div class="navlink">
    <a href="/Teacher/List">Cancel</a>
</div>
<div class="main-content">
    <h2>Please add New Teacher</h2>

    @{
/* AJAX Request to add author */
/* No form submission needed */
/* button onclick will handle form submission */
/* Each item has an ID for validation && ajax submission */
    }
    <div>
        <label>Teacher's First Name</label>
        <input type="text" name="TeacherFname" id="TeacherFname" class="newinput" />
    </div>

    <div>
        <label>Teacher's Last Name</label>
        <input type="text" name="TeacherLname" id="TeacherLname" class="newinput" />
    </div>

    <div>
        <label>Employee Number</label>
        <input type="text" name="EmployeeNumber" id="EmployeeNumber" class="newinput" />
    </div>

    <div>
        <label>Salary</label>
        <input type="number" name="TeacherSalary" id="TeacherSalary" step="0.01" class="newinput" />
    </div>

    <div>
        <label>Hire Date</label>
        <input type="date" name="TeacherHireDate" id="TeacherHireDate" class="newinput" />
    </div>


    @{
        // Again fail to make Ajax work / (ㄒoㄒ) / ~~

            //AddTeacher() is a JS method defined in /Scripts/teachers.js
    }
    <div>
        <button onclick="AddTeacher()">Add Teacher</button>
    </div>
</div>

