
@model IEnumerable<CumulativeP1.Models.Teacher>
@{
    ViewBag.Title = "List";
    //receive the List<Teacher>
    // Render the teacher information as HTML
}

<h2>List of Teachers</h2>
<p>There are <strong>@Model.Count()</strong> teachers in the school.</p>
<p>I'd like to search for @ViewData["SearchKey"]</p>

<!--initiave attempt!
    building a search bar-->
<form method="post" action="/Teacher/List">
    <div><input type="text" name="SearchKey" placeholder="please enter teacher's name" />
    <input type="submit" value="Search" id="submit"/></div>

</form>

@foreach (var teacher in Model)
{
    <div><a href="/Teacher/Show/@teacher.TeacherId">@teacher.TeacherName</a></div>
}
<p><h5>More</h5></p>
<div>Click <a href="/Class/List">Here</a> to <strong>Class Overview</strong>.</div>
