@model CumulativeP1.Models.Teacher
@{
    ViewBag.Title = "New";
}

<div class="navlink">
    <a href="/Teacher/List">Cancel</a>
</div>
<div class="main-content">
    <h2>Please add New Teacher</h2>

    <form method="POST" action="/Teacher/Create" class="newTeacher">
        <div>
            <label>Teacher's First Name</label>
            <input type="text" name="TeacherFname" id="TeacherFname" class="newinput" />
        </div>
        <div class="alert" id="fnameRequired">Please provide a valid first name.</div>

        <div>
            <label>Teacher's Last Name</label>
            <input type="text" name="TeacherLname" id="TeacherLname" class="newinput" />
        </div>
        <div class="alert" id="lnameRequired">Please provide a valid last name.</div>

        <div>
            <label>Employee Number</label>
            <input type="text" name="EmployeeNumber" id="EmployeeNumber" class="newinput" />
        </div>
        <div class="alert" id="employeeNumRequired">Employee Number starts with the letter 'T' followed by three digits.</div>

        <div>
            <label>Salary</label>
            <input type="number" name="TeacherSalary" id="TeacherSalary" step="0.01" class="newinput" />
        </div>
        <div class="alert" id="salaryRequired">Valid salary is a number less than 100.</div>

        <div>
            <label>Hire Date</label>
            <input type="date" name="TeacherHireDate" id="TeacherHireDate" class="newinput" />
        </div>
        <div class="alert" id="hireDateRequired">Please select a hire date.</div>


        <input type="submit" value="Add Teacher" id="AddTeacher" class="mybutton" />
    </form>

</div>

<!--
    
Fail to make JS validation work /(ㄒoㄒ)/~~
    <script="~/bundles/newteacher"></script>
    -->
<script>

 /*   window.onload = pageReady;

    function pageReady() {
    */
        let TeacherFname = document.getElementById("TeacherFname");
        let TeacherLname = document.getElementById("TeacherLname");
        let EmployeeNumber = document.getElementById("EmployeeNumber");
        let TeacherSalary = document.getElementById("TeacherSalary");
        let TeacherHireDate = document.getElementById("TeacherHireDate");
        let btn = document.getElementById("AddTeacher");
        // btn.onsubmit = alert("test");

        let fnameRequired = document.getElementById("fnameRequired");
        let lnameRequired = document.getElementById("lnameRequired");
        let employeeNumRequired = document.getElementById("employeeNumRequired");
        let salaryRequired = document.getElementById("salaryRequired");
        let hireDateRequired = document.getElementById("hireDateRequired");

        let isValid = true;

        // Employee Number starts with the letter 'T' followed by three digits.
        function employeeNumRegEx(EmployeeNumber) {
            let employeeNumRegEx = /^T\d{3}$/;
            return employeeNumRegEx.test(EmployeeNumber.value);
        }
        // Valid salary is a number less than 100.
        function salaryRegEx(TeacherSalary) {
            let salaryRegEx = /^\d{2}(\.\d{1,2})?$/;
            return salaryRegEx.test(TeacherSalary.value);
        }

        function formValidation() {
            // validate first name
            if (TeacherFname.value === "") {
                TeacherFname.style.border = "2px solid red";
                fnameRequired.style.display = "block";
                TeacherFname.focus();
                isValid = false;
            }
            else {
                TeacherFname.style.border = "1px solid grey";
                fnameRequired.style.display = "none";
            }
            // validate last name
            if (TeacherLname.value === "") {
                TeacherLname.style.border = "2px solid red";
                lnameRequired.style.display = "block";
                TeacherLname.focus();
                isValid = false;
            }
            else {
                TeacherLname.style.border = "1px solid grey";
                lnameRequired.style.display = "none";
            }
            // validate employee number
            if (EmployeeNumber.value === "" || employeeNumRegEx(EmployeeNumber) === false) {
                EmployeeNumber.style.border = "2px solid red";
                employeeNumRequired.style.display = "block";
                EmployeeNumber.focus();
                isValid = false;
            }
            else {
                EmployeeNumber.style.border = "1px solid grey";
                employeeNumRequired.style.display = "none";
            }
            // validate salary
            if (TeacherSalary.value === "" || salaryRegEx(TeacherSalary) === false) {
                TeacherSalary.style.border = "2px solid red";
                salaryRequired.style.display = "block";
                TeacherSalary.focus();
                isValid = false;
            }
            else {
                TeacherSalary.style.border = "1px solid grey";
                salaryRequired.style.display = "none";
            }
            // validate hire date
            if (TeacherHireDate.value === "") {
                TeacherHireDate.style.border = "2px solid red";
                hireDateRequired.style.display = "block";
                TeacherHireDate.focus();
                isValid = false;
            }
            else {
                TeacherHireDate.style.border = "1px solid grey";
                hireDateRequired.style.display = "none";
            }
            return isValid;
        }
        function onSubmit(event) {
            if (!formValidation()) {
                event.preventDefault(event);
            }
        }

        btn.onsubmit = onSubmit;

        

  //  }



</script>




